/* main app general styles */
.app{
  box-sizing: border-box;
}

:disabled{
  background-color: rgba(128, 0, 0, 0.575);
}
/* forms styles */
.auth{
  padding-top: 2%;
  margin-bottom: 2%;
}
.auth .forgot-password{
  float: left;
  margin-bottom: 20px;
}
.auth .terms{
  color: red;
}
.auth .create-account{
  float: right;
}
.auth .footer{
  color: rgb(87, 87, 87)
}
.app form{
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  margin: 0 auto
}
form h2{
  text-align: center;
}

.auth input{
display: block;
width: 100%;
border : 1px solid #ccc;
padding: 10px;
box-sizing: border-box;
margin: 10px 0
}
.auth select{
  width: 100%;
  border : 1px solid #ccc;
  padding: 10px;
  margin: 10px 0
}

/* all buttons style */
button{
  background-color: maroon;
  width: 100%;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin: 10px 0
}

/* user component styles */
 .users{
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 4%;
}
.usercont {
  position: relative
}
.users .footer{
  position: absolute;
  bottom: 0;
  display: flex;
  width: 90%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.users button{
  width: 95%
}
.users .usercont{
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  max-height: 500px !important;
  min-height: 300px;
  padding: 30px 15px;
}

.users span{
  color: rgb(122, 122, 122)
}

.users ul li {
  display: flex;
}
.users b{
  margin-right: 20px;
}

/* all ul and li sytles */
.app ul li{
  list-style: none;
  box-sizing: border-box;
}

/* edit user styles */
.edituser form div{
  display: flex;
}