.app{
  height: 100vh;
}

@media only screen and (max-width:600px){
.app form{
  width: 100%
}
}

.app form{
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto
}

.app input{
display: block;
width: 100%;
margin: 10px 0
}
.app select{
  width: 100%;
  margin: 10px 0
}
button{
  background-color: maroon;
  width: 100%;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin: 10px 0
}